AWS_ACCESS_KEY_ID="_ACCESS_KEY"
AWS_SECRET_ACCESS_KEY="_SECRET_KEY"
AWS_REGION="us-east-1"

GRAFANA_PROMETHEUS_URL=
GRAFANA_PROMETHEUS_USER_ID=
GRAFANA_PROMETHEUS_TOKEN=

GRAFANA_LOKI_URL=
GRAFANA_LOKI_USER_ID=
GRAFANA_LOKI_TOKEN=

DOMAIN_SSL=

PROFILE=prod
FORM_PORT=8000
ALLOWED_ORIGINS=http://localhost:4200
DB_USER=user
DB_PASSWORD=password
MAIL_HOST=localhost
MAIL_PORT=1025
MAIL_USERNAME=username
MAIL_PASSWORD=password
ADMIN_MAIL=admin@mail.com
